In [40]:
import pandas as pd
df = pd.read_csv('chiptole.csv') #import data
df.head(10) #head 10 lines

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [41]:
len(df.columns) #number of columns

5

In [42]:
df.columns #columns names

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [43]:
df.groupby('item_name').agg('count').sort_values('order_id').index[-1] #most ordered item

'Chicken Bowl'

In [44]:
len(df.groupby('item_name').agg('count')) #number of items

50

In [45]:
df['item_price'] = pd.to_numeric([i.replace('$','') for i in df['item_price']]) #remove '$'
df.item_price.sum()  #revenue

34500.16

In [46]:
df.order_id.max() #number of orders

1834

In [47]:
df.item_price.mean() #mean val of all prices

7.464335785374397